body{
    
   background-image: url('../img/sitio-en-construccion.jpg'); 
   background-repeat: no-repeat;
   background-size: cover;
   background-position:  center;
   background-attachment: fixed; 
 
}
