#titulo{
    display: flex;
    justify-content: center;
}
#navbarText ul{
    display: flex;
    align-items: center;
}
/* .menu{
    padding-left: 3rem;
} */
#contenedor-li{
    display: flex;
    align-items: center;
    justify-content: center;
}
#contenedorNav{
    height: 4rem;
}
.menuli{
    position: relative;
    left: 3rem;
    padding: 1rem;
   
}
.menuli:hover{
    background-color: #b3b3b9;

}
.menuli a img{
    position: relative;
    width: 80%;
}
.menuli a img:hover{
    background-color: coral;
    border: 2px solid black;
}
.menuli a{
    color: #f38618;
    text-decoration: none;
    font-size: 1.2rem;
   
}


.menuli a:hover{
    color: rgb(250, 250, 250);
}

#bodyprincipal{
    width: 80%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.267);
    margin-left: 8rem;
    margin-top: 2rem;
}
#titulo{
    width: 100%;
}

#titulo h1{
    font-size: 98px;
    font-weight: bold;

    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}   



