*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    font-size: 16px;
}
#titulo{
    display: flex;
    justify-content: center;
}
#navbarText ul{
    display: flex;
    align-items: center;
}
/* .menu{
    padding-left: 3rem;
} */
#contenedor-li{
    display: flex;
    align-items: center;
    justify-content: center;
}
#contenedorNav{
    height: 4rem;
}
.menuli{
    position: relative;
    
    padding: 1rem;
   
}
.menuli:hover{
    background-color: #b3b3b9;

}
.imgHome{
    width: 3rem;
}
.imgHome a img{
    position: relative;
    width: 80%;
}
.imgHome a img:hover{
    background-color: coral;
    border: 2px solid black;
}
.menuli a{
    color: #f38618;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    font-weight: bold;
   
}
.menuli a:hover{
    color: rgb(250, 250, 250);
   
}
#bodyprincipal{
    width: 80%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.171);
   
   
}
#titulo{
   
    width: 100%;
}

#titulo h1{
   /*  font-size: 4.5em; */
    font-size: 6vw;
    margin-top: 2.5vw;
    font-weight: bold;
    margin-left: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}   
#plataforma{
    
    padding-top: 1rem;
    padding-left: 1rem;
  

}
#plataforma h2{
    /* font-size: 56px; */
    font-size: 3vw;

    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: #4A8D9E;

}
#plataforma p{
  /*   font-size: 1.8rem; */
    font-size: 2vw;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: #4A8D9E;
    position: relative;
   
    left: 1rem;
}
.superior{
    display: flex;
    
}
form{
    padding-top: 2rem;
    padding-bottom: 3rem;

}
/* #primerColumna label{
  text-align: center;
} */
.campoCarrera{
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.campoCarrera label{
    color: #f39f18;
    font-weight: bold
}
.secMateria{
    background-color: rgba(0, 0, 0, 0.048);
    width: 100%;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: #4A8D9E 0 3px 5px 0 ;
}

#btnCarrera{
 
    margin-top: 2rem;
}
#btnAgregar{
    margin-top: 1rem;
}

#selectAñoM{
    margin-top: .5rem;
}

#cuadroPrevis{
 border: solid 2px rgb(255, 0, 0);
 width: 100%;
    

}
#previsializar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.171);
    margin-top: 1rem;
    border-radius: 5px;

}

#previsializar .prevP{
    
    font-size: 1.5rem;
    color: #4A8D9E;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

#tablaPrev{
    border-radius: 5px;
    box-shadow: #4A8D9E 0 3px 5px 0 ;
    background-color: aliceblue;
    padding: 1rem;
    width: 90%;
}
.lebelPrev{
    display: flex;
   
    
}
thead tr th{
    color: #f38618;

}
tbody tr td{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}
.materias{
    background-color: #fabfb76e;
}

.materias h6{
    color: #f38618;
    font-weight: bold;
}

#cerrarS{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    margin-left: -2rem;
    width: 100%;
}



#cerrarS button a{
    text-decoration: none;
    color: aliceblue;
}

/*-----------------------------------------------*/




