header {
    Color: #F38618;
    font-size: 98px;
    margin:0;
    padding: 10px;
    text-align: center;
}

body {
    background-color:white; 
}

h2 {
    margin:0;
    font-size: 40px;
    color:blue;
    text-align: center;    
}

main {
    background-color: grey;
    margin: 0 30px;
    padding-bottom: 30px;    
}


.campos {
    width: 70%;
    margin: 0;
    text-align: right;
    padding-bottom: 10px;
}

button{
    text-align:center;
    margin:auto;
}

